{{ define "layout" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .PageMeta.Title }}</title>
    <meta name="description" content="{{ .PageMeta.Description }}" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="icon"
      type="image/png"
      href="/static/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/static/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="jonasluethi.dev" />
    <link rel="manifest" href="/static/favicon/site.webmanifest" />
  </head>
  <body>
    <div class="page-wrapper">
      {{ block "header" . }}{{ end }}
      <main class="content-wrapper">{{ block "content" . }}{{ end }}</main>
    </div>

    <script type="module" src="/static/js/app.js"></script>
  </body>
</html>
{{ end }}
