@import url(https://fonts.bunny.net/css?family=bodoni-moda:400,400i,600,600i,900,900i|lato:300,400,700,900|montserrat:200,200i,400,400i,600i,900|nunito:300,300i,400,400i,600,600i,800,800i);

:root {
  color-scheme: light dark;
  --base-spacing: 0.25rem;

  --section-gap: calc(12 * var(--base-spacing));

  --text-size-1: 1.5rem;
  --text-size-2: 1.25rem;
  --text-size-3: 1rem;

  --bg-dark: oklch(0.1 0.05 263);
  --bg: oklch(0.15 0.05 263);
  --bg-light: oklch(0.2 0.05 263);
  --text: oklch(0.96 0.1 263);
  --text-muted: oklch(0.76 0.1 263);
  --highlight: oklch(0.5 0.1 263);
  --border: oklch(0.4 0.1 263);
  --border-muted: oklch(0.3 0.1 263);
  --primary: oklch(0.76 0.1 263);
  --secondary: oklch(0.76 0.1 83);
  --danger: oklch(0.7 0.1 30);
  --warning: oklch(0.7 0.1 100);
  --success: oklch(0.7 0.1 160);
  --info: oklch(0.7 0.1 260);

  --gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
  --shadow: 0 2px 2px hsla(0, 0%, 0%, 0.07), 0 4px 4px hsla(0, 0%, 0%, 0.15);
}

body.light {
  --bg-dark: oklch(0.92 0.05 263);
  --bg: oklch(0.96 0.05 263);
  --bg-light: oklch(1 0.05 263);
  --text: oklch(0.15 0.1 263);
  --text-muted: oklch(0.4 0.1 263);
  --highlight: oklch(1 0.1 263);
  --border: oklch(0.6 0.1 263);
  --border-muted: oklch(0.7 0.1 263);
  --primary: oklch(0.4 0.1 263);
  --secondary: oklch(0.4 0.1 83);
  --danger: oklch(0.5 0.1 30);
  --warning: oklch(0.5 0.1 100);
  --success: oklch(0.5 0.1 160);
  --info: oklch(0.5 0.1 260);

  --gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
  --shadow: 0 2px 2px hsla(0, 0%, 0%, 0.07), 0 4px 4px hsla(0, 0%, 0%, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  font-family: "Nunito", sans-serif;
  font-size: var(--text-size-3);
  line-height: 1.4;
  font-weight: 400;
  color: var(--text);
}

h1 {
  font-size: var(--text-size-1);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 3px;
  color: var(--text);
}

h2 {
  font-size: var(--text-size-2);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
  color: var(--text);
}

.page-wrapper {
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);

  &::before,
  &::after {
    content: "";
  }
}

header {
  background: var(--bg);
  padding: calc(var(--base-spacing) * 4);
  border: 1px solid var(--border);
  border-radius: calc(var(--base-spacing) * 4);
  position: sticky;
  top: 0;
}

.content-wrapper {
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.container {
  padding-inline: calc(4 * var(--base-spacing));
}

.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.mb-2 {
  margin-block-end: calc(2 * var(--base-spacing));
}

ul {
  list-style-position: outside;
  padding-inline-start: 2ch;
}

.about-wrapper {
  --about-pic-width: 18rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(4 * var(--base-spacing));

  .about-content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(4 * var(--base-spacing));

    .about-breadcrumb {
      font-size: 0.75rem;
      font-weight: 300;
    }

    .about-pic {
      aspect-ratio: 1;
      border-radius: calc(4 * var(--base-spacing));
      overflow: clip;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: calc(4 * var(--base-spacing));
      align-items: flex-start;
      gap: calc(4 * var(--base-spacing));

      border-radius: calc(4 * var(--base-spacing));
      background: var(--gradient);
      border: 1px solid var(--border);
      box-shadow: var(--shadow);
    }
  }
}

.experience-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(4 * var(--base-spacing));

  .experience-timeline {
    display: flex;
    flex-direction: column;
    gap: calc(4 * var(--base-spacing));

    .experience-card {
      background: var(--bg);
      border: 1px solid var(--border);
      border-radius: calc(4 * var(--base-spacing));
      padding: calc(4 * var(--base-spacing));
      display: flex;
      flex-direction: column;
      gap: calc(4 * var(--base-spacing));
    }

    .experience-info {
      display: flex;
      gap: calc(4 * var(--base-spacing));

      .company-icon {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        max-width: 4rem;
        display: flex;
        border-radius: 2rem;
        overflow: clip;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .experience-description {
      max-width: 80ch;
    }
  }
}

@media screen and (width >= 576px) {
  ul {
    list-style-position: inside;
    padding-inline-start: 0;
  }
}

@media screen and (width >= 998px) {
  :root {
    --section-gap: calc(32 * var(--base-spacing));
  }

  .experience-wrapper {
      .experience-timeline {
          .experience-card {
          }
      }
  }
}
