{{ define "about-block" }}
<div class="container">
  <div class="about-wrapper">
    <div class="about-section-title">
      <h2>{{ .AboutTitle }}</h2>
    </div>
    <div class="about-content-wrapper">
      <div class="about-pic">
        <img src="{{ .AboutPic }}" alt="Jonas Lüthi" />
      </div>
      <div class="about-content">
        {{ range .AboutSections }}
        <div>
          <h2 class="mb-2">{{ .Title }}</h2>
          <ul>
            {{ range .Content }}
            <li>{{ .Text }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
