{{ define "experience-block" }}
<div class="container">
  <div class="experience-wrapper">
    <h2>{{ .ExperienceTitle }}</h2>
    <div class="experience-timeline">
      {{ range .Experiences }}
      <div class="experience-card">
        <div class="experience-info">
          <div class="company-icon">
            <img src="{{ .Icon }}" alt="{{ .Company }}" />
          </div>
          <div class="experience-text">
            <p class="font-weight-light">{{ .Company }}</p>
            <p class="font-weight-light">{{ .Position }}</p>
            <p class="text-sm">
              <strong> {{ .EmploymentPeriod}} </strong>
            </p>
          </div>
        </div>
        {{ if .Description }}
        <div class="experience-description">
          <p>{{ .Description }}</p>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
