[Unit]
Description=jonasluethi.dev web app

[Container]
Image=jonasluethiweb.build
ContainerName=jonasluethi-web
Pod=jonasluethiweb.pod

[Service]
Restart=always

[Install]
WantedBy=default.target
